<section class='high_voltage about grid_12' id='mission'>
	<h2>Our Mission Statement</h2>
	<p>The University of Dallas Journal of Science was founded to perpetuate and showcase academic excellence through scientific research, analysis, and discussion in the undergraduate community.</p>
</section>

<section class='high_voltage about grid_12' id='editors'>
	<h2>Current Editors</h2>
	<ul>
		<li>Managing Editor: Christina Davis</li>
		<li>Academic Editor: Olivia LaFond</li>
		<li>Online Editor: Xavier Bick</li>
	</ul>
</section>