<section class='high_voltage grid_12'>
	<h2>Subscriptions</h2>
	<p>Our subscription offerings will be announced once we publish our first printed issue in the Spring of 2014.  Please check back soon.</p>
</section>