/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import 'bootstrap-custom';
@import 'colors';

// --------------------------------
// Header and Navbar
// --------------------------------

// .container_12 > * {
// 	max-width: 960px;
// }

// .container_12 > [class^="col-"][class$="-12"] {
// }

body > header:first-of-type {
	text-align: left;
	position: relative;
	margin: 8px 0 8px 0;
}

body > header:first-of-type img {
	float: left;
	margin: 0 0 0 0;
}

body > header:first-of-type h2 {
	float: right;
	font-size: 52px;
	margin: 24px 0 0 0;
	font-family: "Times New Roman", serif;
	color: black;
}

body > header:first-of-type h3 {
	font-size: 17px;
	margin-top: 0;
	font-family: "Times New Roman", serif;
}

body > nav:first-of-type {
	background-color: $gray_darker;
	margin: 0;
	border-bottom: 5px solid $ud_blue;
}

body > nav:first-of-type > ul:first-of-type {
	list-style: none;
	padding: 0;
	margin: 0;
}

body > nav:first-of-type > ul:first-of-type > li {
	margin: 0;
	display: block;
	position: relative;
	float: left;
}

body > nav:first-of-type > ul:first-of-type > li > a {
	display: block;
	padding: 0.6em 1em 0.6em 1em;
	font-size: 1em;
	color: white;
	text-decoration: none;
	letter-spacing: 0px;
	word-spacing: 1px;
}

body > nav:first-of-type > ul:first-of-type > li > a:hover {
	background-color: $ud_blue;
}

body > nav:first-of-type > ul:first-of-type > li:last-child {
	float: right;
}

body > nav:first-of-type > ul:first-of-type > li.nav-dropdown > a {
	padding: 0.7em 0.7em 0.5em 0.7em;
}

// body > nav:first-of-type li:last-child input {
// 	margin: 8px;
// 	box-sizing: border-box;
// 	float: right;
// 	-moz-box-sizing: border-box;
// 	-webkit-box-sizing: border-box;
// 	width: 106px;
// 	padding: 3px 3px 3px 3px;
// 	position: relative;
// 	display: block;
// 	border: none;
// 	background-color: $ud_gray;
// }

// --------------------------------
// Footer
// --------------------------------

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px !important; //important in order to override Bootstrap
}

body > footer:first-of-type {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: $gray_lighter;
    color: $gray_dark;
}

body > footer:first-of-type p {
	margin-top: 11px;
}

// --------------------------------
// Flashes and Alerts
// --------------------------------

.alert.flash-messages {
	margin: 15px 0 15px 0;
}

// .flash_notice {
// 	@extend .alert-info;
// }

// .flas_alert {
// 	@extend .alert-warning;
// }

// --------------------------------
// Buttons & Inputs
// --------------------------------

// Also, see Bootstrap and its variables.

.btn {
	border: none !important; //important to override Bootstrap
	@extend .btn-primary;
	&:hover {
		border: none;
		color: white !important;
	}
	&:active {
		border: none;
		color: white !important;
	}
}

.tinymce {
	width: 100%;
	height: 400px;
}

div.actions {
	margin-top: 10px;
}

.btn-sharp {
	border-radius: 0;
}

form input[type="submit"] {
	@extend .btn;
}

form input[type="text"] {
	@extend .form-control;
}

// --------------------------------
// Helpers
// --------------------------------