// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

article header a {
	color: $gray_darkest;
	text-decoration: underline;
}

article header a:hover {
	color: $gray_dark;
}