// Place all colors in SCSS variables here.

// UD Color Palette
$ud_cyan: #5CA8F2;
$ud_cyan_dark: #2D80D2;
$ud_blue: #5A64F2;
$ud_blue_dark: #264B85;
$ud_red: #E07772;
$ud_red_dark: #BF4640;
$ud_gray: #E7EDFF;

// Kuler Color Palette
// https://kuler.adobe.com/UDJS-color-theme-2783495/
$kuler_primary: hsl(210, 100%, 18%);
$kuler_primary_alt: hsl(210, 40%, 41%);
$kuler_secondary: hsl(4, 77%, 36%);
$kuler_secondary_alt: hsl(3, 59%, 54%);
$kuler_tertiary: hsl(52, 100%, 65%);

$gray_light: #C4C4C4;
$gray: #AAAAAA;
$gray_dark: #777777;
$gray_darker: #555555;

$btn-primary: #58A0FC;
$btn-primary-hover: #2D70D2;


// Department Colors
$art_button: hsl(50, 30%, 70%);
$art_button_hover: hsl(50, 30%, 60%);

$bus_button: hsl(220, 60%, 70%);
$bus_button_hover: hsl(220, 60%, 60%);

$bio_button: hsl(100, 30%, 70%);
$bio_button_hover: hsl(100, 30%, 60%);

$chem_button: hsl(42, 70%, 70%);
$chem_button_hover: hsl(42, 70%, 60%);

$cs_button: hsl(340, 30%, 70%);
$cs_button_hover: hsl(340, 30%, 60%);

$cla_button: hsl(170, 30%, 70%);
$cla_button_hover: hsl(170, 30%, 60%);

$dra_button: hsl(240, 30%, 70%);
$dra_button_hover: hsl(240, 30%, 60%);

$econ_button: hsl(110, 45%, 60%);
$econ_button_hover: hsl(110, 45%, 50%);

$edu_button: hsl(25, 40%, 70%);
$edu_button_hover: hsl(25, 40%, 60%);

$eng_button: hsl(68, 40%, 70%);
$eng_button_hover: hsl(68, 40%, 60%);

$hist_button: hsl(40, 30%, 70%);
$hist_button_hover: hsl(40, 30%, 60%);

$husc_button: hsl(215, 30%, 70%);
$husc_button_hover: hsl(215, 30%, 60%);

$math_button: hsl(200, 60%, 70%);
$math_button_hover: hsl(200, 60%, 60%);

$modl_button: hsl(50, 50%, 60%);
$modl_button_hover: hsl(50, 50%, 50%);

$past_button: hsl(284, 60%, 70%);
$past_button_hover: hsl(284, 60%, 60%);

$phys_button: hsl(0, 64%, 66%);
$phys_button_hover: hsl(0, 64%, 56%);

$pol_button: hsl(205,65%, 60%);
$pol_button_hover: hsl(205, 65%, 50%);

$psy_button: hsl(260, 60%, 70%);
$psy_button_hover: hsl(260, 60%, 60%);

$phil_button: hsl(16, 50%, 60%);
$phil_button_hover: hsl(16, 50%, 50%);

$theo_button: hsl(42, 75%, 60%);
$theo_button_hover: hsl(42, 75%, 50%);